body {
  text-align: center;
}

table, tr, td {
  border: 1px solid black;
  /*background-color: white;*/
  text-align: center;
}

td {
  font-size: 28px;
  width: 60px;
  height: 60px;
  /*background-color: pink;*/
}

table {
  margin: auto;
}

button {
  width: 15%;
  height: 50px;
}

.zero {
  background-color: white;
}

.two {
  background-color: #ffff99;
}

.four {
  background-color: #ffff66;
}

.eight {
  background-color: #ffff00;
}

.sixteen {
  background-color: #ccffcc;
}

.thirytwo {
  background-color: #99ff99;
}

.sixtyfour {
  background-color: #66ff66;
}

.onetwenyeight {
  background-color: #ccffff;
}

.twofiftysix {
  background-color: #66ffff;
}

.fivetwelve {
  background-color: #00ffff;
}

.tentwentyfour {
  background-color: #ff9966;
}

.twentyfortyeight {
  background-color: red;
}
